* {
  margin: 0;
  padding: 0;
  color: #eeeeee;
}
header {
  font-family: 'Poppins';
}

body {
  background-image: url('/bg.jpg');
}
div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
nav {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    font-size: small;
    a {
      margin: 1rem;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        float: left;
        a {
          display: block;

          text-align: center;
          padding: 0.5rem;
          text-decoration: none;
        }
        a:hover {
          background-color: #111111;
        }
      }
    }
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
